{% extends 'base.html.twig' %}

{% block title %}Homepage!{% endblock %}

{% block body %}
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <a href="/sign-in" class="btn btn-primary" >Sign In</a>
    </div>
    <div class="col">
      <a href="/admin" class="btn btn-primary" >Admin Panel</a>
    </div>
    <div class="col">
      <a href="/register" class="btn btn-primary" >Sign Up</a>
    </div>
  </div>
</div>
{% endblock %}
